<div style="text-align: center;">


<h1>Technology-Blogs</h1>
<button (click)="addBlog()" mat-raised-button color="primary">Add Blog</button>
<mat-card *ngFor="let item of blogList">
    <mat-card-header>
        <h1>{{item.title}}</h1>
        <div style="text-align: right;width: 100%;">
            <button  (click)="editBlog(item.id)" mat-raised-button color="primary" >Edit</button>
        </div>
    </mat-card-header>
    <mat-card-content>
        <p>{{item.description}}</p>
    </mat-card-content>
</mat-card>
</div>
